@import "../../styles/variables";

.dashboard {
  background-color: var(--primary-bg-color);
  min-height: 90vh;
  padding: 2rem 5%;

  .intro {
    text-align: center;
    padding: 2rem 0;


    &__details {
      font-size: 2rem;
      font-weight: bold;
    }

    &__text {

      &__place {
        font-weight: bold;
        color: #ff8c00;
        position: relative;

        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #ff8c00;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      height: 8rem;
    }
  }

  .projects {
    text-align: center;

    &__list {
      .projects__item {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-color: var(--secondary-bg-color);

        &__thumbnail {
          display: flex;
          margin: 8rem 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .thumbnail__image {
            width: 80%;
            transition: transform 0.2s ease-in-out;
            display: inline-block;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

            &:hover {
              transform: translate(0, -0.5rem);
              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
              transition: all 0.2s ease-in-out;
              display: inline-block;
            }
          }
        }

        &__caption {
          display: flex;
          justify-content: space-between;
          padding: 0 5% 1rem 5%;
        }

        &:hover {
          color: var(--primary-color);
          transition: all 0.5s ease-in-out;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      height: 8rem;
    }
  }
}