@import "../../styles/variables";

.dashboard {
  background-color: var(--secondary-bg-color);
  min-height: 100vh;
  padding: 2rem 5%;

  .intro {
    text-align: center;
    padding: 2rem 0;


    &__details {
      font-size: 2rem;
      font-weight: bold;
    }

    &__text {

      &__place {
        font-weight: bold;
        color: #ff8c00;
        position: relative;

        &:after {
          background: none repeat scroll 0 0 transparent;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #ff8c00;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}