@import '../../styles/variables.scss';

.web-header {
  justify-content: space-between;
  align-items: center;

  .pokemon {
    max-width: 5rem;
  }

  .contact {
    text-align: end;
    color: var(--primary-text-color);

    &:hover {
      color: var(--primary-color);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg-color);
  z-index: 2;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &.hide{
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -1;
  }
}