@import '../../styles/variables.scss';

.web-header {
  justify-content: space-between;
  align-items: center;

  .pokemon {
    max-width: 5rem;
  }

  .contact {
    text-align: end;
    color: var(--primary-text-color);

    &:hover {
      color: var(--primary-color);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

  }
}